/*---------------------------media Query---------------------------------------------*/


@media (max-width: 575.98px) {

    .navbar-toggler{
        margin-right:-10px;
         margin-top:-5px;
    }

 .footer-content{
    height: auto;
 }


     }


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) {

     .navbar-toggler{
        margin-right:-200px;
        margin-top: -5px;
      
    }

     .footer-content{
    height: auto;
 }

     }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  
      
    }
 }

@media (min-width: 1200px) { ... }




