body 
        {        
            background-color: cornsilk;         
        }

        .step-btn 
        {
            display: inline-block;
            padding: 8px 12px;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 10px;
            box-shadow: 0 5px #999;
        }

        .step-btn:hover 
        {
            background-color: #3e8e41
        }

        .step-btn:active 
        {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .sticky + .content {
            padding-top: 102px;
        }